* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
}

/*styling for header*/
header {
    height: 75px;
}

header a {
    float: left;
    padding: 25px;
    color: #361E75;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: darkorchid;
}

#timer {
    float: right;
    padding: 25px;
}

/*styling for cover page*/
#cover-page {
    text-align: center;
}

.start-quiz {
    padding: 5px;
    background-color: #361E75;
    color: #ffffff;
    border-radius: 5px;
    width: max-content;
}

.start-quiz:hover {
    background-color: darkorchid;
}

/* styling for questions*/
.quiz {
   text-align: left;
   margin-left: 25%;
   margin-right: 25%;
   display: none;
}

.ask{
    margin: 5px;
    height: 50px;
}

#choices {
    display: inline-block;
    padding: 5px;
}

.choice1, .choice2, .choice3, .choice4 {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #361E75;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.choice1:hover, .choice2:hover, .choice3:hover, .choice4:hover {
    background-color: darkorchid;
}


.correct, .wrong {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    border-top: solid 1px #3e3c3c;
    margin-top: 25px;
    color: #3e3c3c;
    opacity: .5;
    display: none;
}


/* styling for high score logging*/
.high-score {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    display: none;
}

.high-score h3{
    margin: 0px;
    padding-bottom: 10px;
}

.finalscore {
    padding-bottom: 10px;
}

.high-score div {
    display: inline-block;
    padding-right: 5px;
}

.submit {
    padding: 5px;
    margin-left: 5px;
    background-color: #361e75;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.submit:hover {
    background-color: darkorchid;
}

/*styling for high score bank*/
#score-bank {
    text-align: left;
    margin-left: 33%;
    margin-right: 33%;
    display: none;
}

#score-bank h3{
    margin: 0px;
    padding-bottom: 10px;
}

#scoredata {
    background-color: #d7bfdc;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 100%;
}

.back, .clear {
    padding: 5px;
    background-color: #361E75;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.back:hover, .clear:hover {
    background-color: darkorchid;
}

.back {
    margin-right: 5px;
}

/* media queries for tablet*/
@media screen and (max-width: 992px) {
    #cover-page p {
        margin-bottom: 25px;
       }

   .quiz, .high-score, .correct, .wrong {
    margin-left: 15%;
    margin-right: 15%;
   }
}

/* media queries for phone*/
@media screen and (max-width: 778px) {
   #cover-page p {
    margin-bottom: 25px;
   }
   
    .quiz, .high-score, .correct, .wrong, #score-bank {
        margin-left: 5%;
        margin-right: 5%;
    }

    .ask {
        font-size: medium;
        height: 60px;
    }

    input {
        margin-bottom: 15px;
    }
    
    .back, .clear {
        display: block;
        width: max-content;
    }
}