* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 75px;
}

#score {
    float: left;
    padding: 25px;
    color: darkorchid;
}

#timer {
    float: right;
    padding: 25px;
}

#starting-page {
    text-align: center;
}

.start-quiz {
    padding: 5px;
    background-color: #361E75;
    color: white;
    border-radius: 5px;
}

/* styling for starter page*/




/* styling for questions*/



/* styling for high score logging*/



/*styling for high score bank*/